@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    font-size: 62.5%;
}
body
{
    background-color:  #151516;
}
header
{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
header h1 div
{
    border: #fff 0.9rem double;
    width: 100%;
    padding: 0 1rem;
}
header h1
{
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    display: inline;
}

main h1 div
{
    color: #fff;
    text-align: center;
    font-size: 4rem;
    margin-top: 3rem;
    border-bottom: #fff 0.2rem solid;
    width: 100%;
}
.mainheading
{
    display: flex;
    justify-content: center;
}

.container2{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* min-height: 100vh; */
    max-width: 120rem;
    margin: .5rem auto;

}

.container2 .card{
    position: relative;
    width: 30rem;
    height: 40.0rem;
    box-shadow: inset .5rem .5rem .5rem rgba(0,0,0,0.2),
                inset -.5rem -.5rem 1.5rem rgba(255,255,255,0.1),
                       .5rem .5rem 1.5rem rgba(0,0,0,0.3),
                       -.5rem -.5rem 1.5rem rgba(255,255,255,0.1);
    border-radius: 1.5rem;
    margin: 3.0rem;

}
.container2 .card::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.1);
}

.container2 .card .box{
    position: absolute;
    top: 2.0rem;
    left: 2.0rem;
    right: 2.0rem;
    bottom: 2.0rem;
    background: #2a2b2f;
    border: .2rem solid #1e1f23;
    border-radius: 1.5rem;
    box-shadow: 0 2.0rem 5.0rem rgba(0,0,0,0.5);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
.container2 .card .box::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.05);
    pointer-events: none;
}


.container2 .card .box:hover{
    transform: translateY(-2.0rem);
    box-shadow: 0 4.0rem 7.0rem rgba(0,0,0,0.5);

}

.container2 .card .box .content{
    padding:0rem 2.0rem 2.0rem 2.0rem;
    text-align: center;
}
.container2 .card .box .content #avatar{
    width: 19rem;
    margin-top: -3.5rem;
}

.container2 .card .box .content .avatar-github {
    width: 15rem;
    margin:  2rem 0;
    border-radius: 50%;
}

.container2 .card .box .content h3{
    font-size: 2.8rem;
    color: rgba(255, 255, 255, 0.918);
    z-index: 1;
    transition: 0.5s;
    margin-top: -1.5rem;

}
.container2 .card .box .content h4{
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 0.678);
    z-index: 1;
    transition: 0.5s;
    margin-top: .5rem;
}

.container2 .card .box .content a{
    position: relative;
    display: inline-block;
    padding: 1rem 6.0rem 1rem 6.0rem;
    background: #000;
    margin-top: 1rem;
    border-radius: 2.0rem;
    text-decoration: none;
    font-size: 3rem;
    font-weight: bolder;
    color: #fff;
    box-shadow: 0 1.0rem 2.0rem rgba(0,0,0,0.2);
}
.container2 .card:nth-child(3n) .box .content a
{
    background: #97dc47;
}
.container2 .card:nth-child(3n-1) .box .content a
{
    background: #e91e63;
}
.container2 .card:nth-child(3n - 2) .box .content a
{
    background: #2196f3;
}
